{% extends 'base.html' %}

{% block body %}
<!-- Login 2 - Bootstrap Brain Component -->
<div class="bg-dark py-3 py-md-5">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
          <div class="text-white p-4 p-md-5 rounded shadow-sm" style="background-color: #181818; margin-bottom: 35px; margin-top: 35px">
            <div class="row">
              <div class="col-12">
                <div class="mb-5">
                  <h3 class="custom-font">Join Room</h3>
                  {% if messages %}
                  <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {% endfor %}
                    
                  </div>
                  {% endif %}
                </div>
              </div>
              
            </div>
            <form action="{% url 'joinRoom' %}" method="POST">
              {% csrf_token %}
              <div class="row gy-3 gy-md-4 overflow-hidden">
                <div class="col-12">
                  <label for="email" class="form-label custom-font">Room ID <span class="text-danger">*</span></label>
                  <input type="text" class="form-control custom-font" name="roomID" id="email" required>
                </div>
                <div class="col-12">
                  <label for="password" class="form-label custom-font">Password <span class="text-danger">*</span></label>
                  <input type="password" class="form-control custom-font" name="password" id="password" value="" required>
                </div>
                
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary custom-font px-2" type="submit">Join Room</button>
                  </div>
                </div>
              </div>
            </form>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}