{% extends 'base.html' %}

{% block body %}
<!-- Login 2 - Bootstrap Brain Component -->
<div class="bg-dark py-3 py-md-5">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
          <div class="text-white p-4 p-md-5 rounded shadow-sm" style="background-color: #181818;">
            <div class="row">
              <div class="col-12">
                <div class="mb-5">
                  <h3 class="custom-font">Sign up</h3>
                  {% if messages %}
                  <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {% endfor %}
                    
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <form action="{% url 'signup_user' %}" method="POST">
              {% csrf_token %}
              <div class="row gy-3 gy-md-4 overflow-hidden">
                <div class="col-12">
                  <label for="email" class="form-label custom-font">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control custom-font" name="first_name" id="email" required>
                </div>
                <div class="col-12">
                  <label for="email" class="form-label custom-font">Last Name  <span class="text-danger">*</span></label>
                  <input type="text" class="form-control custom-font" name="last_name" id="email" required>
                </div>
                <div class="col-12">
                  <label for="email" class="form-label custom-font">Email <span class="text-danger">*</span></label>
                  <input type="email" class="form-control custom-font" name="email" id="email" required>
                </div>
                <div class="col-12">
                  <label for="email" class="form-label custom-font">Username <span class="text-danger">*</span></label>
                  <input type="text" class="form-control custom-font" name="username" id="email" required>
                </div>
                <div class="col-12">
                  <label for="password" class="form-label custom-font">Password <span class="text-danger">*</span></label>
                  <input type="password" class="form-control custom-font" name="password" id="password" value="" required>
                </div>
                
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary custom-font px-2" type="submit">Sign up now</button>
                  </div>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-12">
                <hr class="mt-5 mb-4 border-secondary-subtle">
                <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
                  <a href="{% url 'login_user' %}" class="link-secondary text-decoration-none custom-font">Already have an account? Log In Here!</a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}